body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(251, 244, 244);
    font-family: cursive;
}
.container{
border: none;
border-radius: 15px;
background-color: pink;
height: auto;
width: 40vw;
box-shadow: 4px 5px 6px;
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 0.5px solid whitesmoke;
}
.addTask{
    display: flex;
    justify-content:space-evenly;
    padding: 6px;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 700;
    color: black;
}
button{
    border: 2px solid black;
    border-radius:5px ;
    background-color:#ece4f2 ;
    font-weight:700;
}
button:hover{
    border:2px solid black;
    box-shadow: 1.5px 1px 1px;
}
  
ul{
    line-height: none;
    padding:15px;
}
li{
    display: flex;
    justify-content: space-between;
    border:1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom:7px ;
}